body {
  background-image: url("../images/silver_scales.png");
  background-repeat: repeat;
  /* background-size: 100px; */
  font-family: 'Berkshire Swash', cursive, "Helvetica Neue", Helvetica, sans-serif;
  margin-bottom: 60px;
}

.container {
  padding: 2%;
}

.jumbotron {
  background: black;
  color: silver;
  padding-top: 0px;
}

#prompt {
  text-align: center;
}
.display-4 {
  text-align: center;
  margin: 0;
  padding: 0;
}

#sigils {
  opacity: 0.2;
  padding: 8% 5% 5% 5%;
}

.sigilsWrapper {
  border-style: dotted;
}

.row {
  border-style: dotted;
  background-image: url("../images/silver_scales.png");
}

.mainContent {
  border-style: dotted;
  padding: 2%;
  
}

h2 {
  background: black;
  color: silver;
  padding: 2%;
  text-align: center;
}



#answer-blanks, #game-counter, 
#guessed-letters,
#wins, #losses {
  color: black;
  text-align: center;
  font-size: 20px;
}


.fade1 {
  opacity: 0.2;
}

.fade2 {
  opacity: 0.4;
}

.fade3 {
  opacity: 0.6;
}

.fade4 {
  opacity: 0.8;
}

.fade5 {
  opacity: 1.0;
}