body {
  /* background-image: url("../images/got-houseSigils.jpg"); */
  background-repeat: repeat;
  background-size: 500px;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  margin-bottom: 60px;
}

#sigils {
  opacity: 0.1;
}

.jumbotron {
}

.fade1 {
  opacity: 0.2;
}

.fade2 {
  opacity: 0.4;
}

.fade3 {
  opacity: 0.6;
}

.fade4 {
  opacity: 0.8;
}

.fade5 {
  opacity: 1.0;
}